.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0px auto;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 20px;
  color: #22262A;
  font-weight: 700;
}

h3 {
  font-size: 15px;
  color: #22262A;
  font-weight: 600;
}

body {
  color: #22262A;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: #fff;
  padding: 4px 28px;
  background-color: #22262A;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.img-container {
  padding: 0px 0px;
}

.card {
  max-width: 268px;
  text-align: left;
  padding: 20px 15px;
}
.card__discount {
  color: #CF2929;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 400;
}
.card__img {
  overflow: hidden;
}
.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card__pretitle {
  font-size: 15px;
  font-weight: 300;
  margin-top: 38px;
}
.card__names {
  margin-top: 10px;
}
.card__price {
  margin-top: 10px;
  text-decoration: line-through;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
}

.btn_light {
  background-color: #fff;
  color: #22262A;
}

.section-header__subtitle {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}

.main-title {
  font-size: 80px;
  color: #22262A;
  font-weight: 700;
}

.hero {
  background-image: url(../images/new-trend-bg.jpg);
  background-repeat: no-repeat;
  height: calc(100vh - 74px);
  min-height: 700px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top center;
}
.hero__container {
  height: 100%;
  padding: 90px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__content {
  margin-left: auto;
  max-width: 450px;
  font-weight: 500;
  margin-top: auto;
}
.hero__title {
  margin-top: 15px;
}
.hero__subtitle {
  margin-top: 18px;
}
.hero__controls {
  margin-top: 27px;
}
.hero__btn + .hero__btn {
  margin-left: 34px;
}

.header {
  padding: 20px 0px;
}
.header__menu-burger {
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 15px;
}
.header__menu-burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}
.header .menu__form {
  position: relative;
  text-align: center;
  display: none;
}
.header .menu__input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.header .menu__input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.header .menu__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.header .menu__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.header .menu__input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.header .menu__input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #ccc;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 850px;
}
.header__logo {
  font-size: 25px;
  font-weight: 700;
}
.header .burger__search-btn {
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}
.header .burger__search-btn img {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.header .menu {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu__item {
  display: inline-block;
  font-weight: 400;
}
.header .header__icon {
  width: 30px;
  height: 30px;
}
.header__container {
  position: relative;
}
.header__btn-box {
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .search-input {
  font-size: 18px;
  display: inline-block;
  border: none;
  outline: none;
  color: #555;
  width: 30px;
  opacity: 0;
  background: none;
  z-index: 5;
  -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
  position: relative;
  left: 30px;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  padding: 0px 5px 0px 0px;
}
.header .search-input:focus {
  width: 130px;
  height: auto;
  z-index: 1;
  cursor: text;
  opacity: 1;
  left: 0px;
}
.header .search-input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}
.header .search-input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}
.header .search-input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}
.header .search-input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}
.header .search-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ccc;
  font-weight: 400;
}
.header .search-btn {
  width: 30px;
  height: 30px;
  background-image: url(../images/header-search.svg);
  text-indent: -10000px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 4;
}

.header.open .header__menu-burger span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu-burger span:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
  background-color: #fff;
}

.header.open .header__menu-burger span:nth-child(3) {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  background-color: #fff;
}

.header__menu-burger span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__menu-burger span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu__item + .menu__item {
  margin-left: 31px;
}

.header-link + .header-link {
  margin-left: 31px;
}
.header-link:hover {
  cursor: pointer;
}

.category {
  margin-top: 123px;
}
.category img {
  -o-object-fit: cover;
     object-fit: cover;
}
.category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category__left {
  max-width: 551px;
}
.category__left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.category__right {
  position: relative;
}
.category__btn {
  position: absolute;
  left: 32px;
  bottom: 25px;
}

.product-section {
  margin-top: 110px;
  text-align: center;
}

.avone {
  margin-top: 110px;
  text-align: center;
}
.avone__subtitle {
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
}
.avone__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}
.avone__img-left {
  margin-top: 90px;
}
.avone__right-block {
  position: relative;
  margin-top: 30px;
  z-index: -1;
}
.avone__img-decor {
  position: absolute;
  border: 22px solid #fff;
  right: -60px;
  bottom: -30px;
}
.avone__txt {
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 50px;
  right: 230px;
}
.avone__txt::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #22262A;
  left: 0px;
  bottom: -4px;
}

.shop {
  margin-top: 121px;
  background-image: url(../images/shop-bg.jpg);
  height: 745px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 30px;
  height: 100%;
}
.shop__content {
  margin-top: auto;
}
.shop__pretitle {
  font-weight: 500;
}
.shop__title {
  margin-top: 15px;
}
.shop__btn {
  margin-top: 20px;
}

.footer-top {
  font-size: 15px;
  font-weight: 400;
  background-color: #F2F8FC;
}
.footer-top__inner {
  padding-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 105px;
}

.footer-left {
  max-width: 405px;
}
.footer-left__title {
  font-size: 25px;
  font-weight: 700;
}
.footer-left__txt {
  margin-top: 17px;
  line-height: 1.4;
}
.footer-left__addres {
  margin-top: 40px;
  position: relative;
  padding-left: 40px;
  z-index: 1;
}
.footer-left__addres::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/footer-adrres-icon.svg);
  left: 0px;
  top: -1px;
}
.footer-left__link {
  display: block;
}
.footer-left__gmail {
  margin-top: 21px;
  position: relative;
  z-index: 1;
}
.footer-left__gmail::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 235px;
  background-color: #22262A;
  left: 0px;
  bottom: -5px;
}
.footer-left__phone {
  margin-top: 12px;
}
.footer-left__social {
  margin-top: 30px;
}

.footer-left__social-link + .footer-left__social-link {
  margin-left: 10px;
}
.footer-left__social-link img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
}

.footer-right {
  max-width: 530px;
}
.footer-right__title {
  font-size: 25px;
  font-weight: 700;
}
.footer-right__gmail {
  margin-top: 25px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px 25px;
}
.footer-right__input {
  height: 45px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  width: 450px;
}
.footer-right__input:placeholder {
  color: #22262A;
  font-size: 15px;
  font-weight: 400;
}
.footer-right__btn {
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: #fff;
  height: 45px;
  cursor: pointer;
}
.footer-right__nav {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-section__title {
  font-size: 20px;
  font-weight: 600;
}
.footer-section__list {
  margin-top: 27px;
}
.footer-section__item {
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.footer-section__item:hover {
  opacity: 0.6;
}
.footer-section__item + .footer-section__item {
  margin-top: 20px;
}

.footer {
  background-color: #E7F5F8;
  text-align: center;
}
.footer__txt {
  padding: 35px 0px;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1230px) {
  .avone__img-left {
    display: none;
  }
  .avone__img-decor {
    right: -150px;
    bottom: -100px;
  }
}
@media (max-width: 1150px) {
  .category__left {
    max-width: 100%;
  }
  .category__left .left-img {
    width: 100%;
  }
  .category__inner {
    display: block;
  }
  .category__right {
    margin-top: 20px;
  }
  .right-img {
    width: 100%;
  }
  .category {
    margin-top: 70px;
  }
  .womens {
    margin-top: 70px;
  }
  .mens {
    margin-top: 70px;
  }
  .left-row-img {
    width: 48%;
  }
}
@media (max-width: 1050px) {
  .footer-top__inner {
    display: block;
  }
  .footer__left {
    margin: 0px auto;
  }
  .footer__right {
    margin: 20px auto 0px auto;
  }
  .footer-top {
    text-align: center;
  }
  .footer-left__gmail::before {
    left: auto;
  }
  .footer-left__addres::before {
    display: none;
  }
  .footer-left__addres {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .header__menu-burger {
    display: block;
    z-index: 10;
  }
  .category {
    margin-top: 130px;
  }
  .header .menu__form {
    display: block;
  }
  .header__inner {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .menu {
    position: absolute;
    right: -100%;
    top: 0px;
    background-color: #343434;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    top: -20px;
    z-index: 2;
  }
  .header__btn-box {
    right: 100px;
  }
  .menu__item {
    display: block;
    line-height: 25px;
  }
  .menu__item + .menu__item {
    margin-left: 0px;
    margin-top: 15px;
    text-align: center;
  }
  .menu__link {
    display: block;
  }
  .header.open .menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .hero {
    position: relative;
    top: 80px;
    z-index: -1;
  }
  .catagory__right {
    position: relative;
    z-index: -1;
  }
  .search-input, .search-btn {
    display: none;
    z-index: 1;
  }
}
@media (max-width: 900px) {
  .main-title {
    font-size: 65px;
  }
}
@media (max-width: 840px) {
  .card-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .avone__img-decor {
    display: none;
  }
  .avone__right-block {
    width: 100%;
  }
  .avone__img-right {
    width: 100%;
  }
  .avone__img-right img {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .hero__content {
    margin: auto;
    text-align: center;
  }
  .hero__container {
    padding: 0px;
  }
  .card__pretitle {
    margin-top: 15px;
  }
  .shop__content {
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .hero {
    background-position: -390px;
    height: 740px !important;
  }
  .shop {
    height: 550px;
  }
}
@media (max-width: 550px) {
  .footer-right__nav {
    display: block;
    margin-top: 30px;
  }
  .footer-right__gmail {
    max-width: 100%;
  }
  .footer__nav-list {
    margin-top: 15px;
  }
  .footer__nav-list-item + .footer__nav-list-item {
    margin-top: 10px;
  }
  .footer-right__section + .footer-right__section {
    margin-top: 20px;
  }
  .footer-right {
    max-width: 530px;
  }
  .footer-top__inner {
    padding-bottom: 30px;
    padding-top: 45px;
  }
  .left-row-img {
    max-width: 48%;
  }
}
@media (max-width: 500px) {
  .womens__card-box {
    margin-top: 30px;
  }
  .mens__card-box {
    margin-top: 30px;
  }
  .avone__txt {
    font-size: 12px;
  }
  .avone__content {
    margin-top: 30px;
  }
  .avone {
    margin-top: 50px;
  }
  .shop {
    margin-top: 50px;
  }
  .footer__txt {
    padding: 20px 0px;
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .main-title {
    font-size: 45px;
  }
  .hero__pretitle {
    font-size: 16px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .category {
    margin-top: 100px;
  }
  .womens {
    margin-top: 40px;
  }
  .mens {
    margin-top: 40px;
  }
  .hero {
    background-position: -410px;
  }
}